*{
    background-color: black;
}

#SignUpBtn {
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 19px;
    font-weight: bold;
    height: 50px;
    width: 110px;
}

#SignUpBtn:hover {
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    transition: 30ms;
    height: 52px;
    width: 113px;
}